<mat-toolbar color="warn">
  <mat-toolbar-row fxLayout="row">
      <span>{{ "signup.title" | translate }}</span>
      <span class="spacer"></span>
      <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <div class="container">
    <form [formGroup]="signupForm"  method="POST">
      <div class="form-group" fxFlex fxLayout="column">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>{{ "signup.signupForm.lastName" | translate }}</mat-label>
          <input matInput type="text" formControlName="lastName" class="form-control" required/>
          <mat-error *ngIf="signupForm.controls.lastName.touched && signupForm.controls.lastName.invalid">
            <span *ngIf="signupForm.controls.lastName.errors.required">{{ "signup.signupForm.errorMandatory" | translate }}</span>
            <span *ngIf="signupForm.controls.lastName.errors.pattern">{{ "signup.signupForm.errorInvalid" | translate }}</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>{{ "signup.signupForm.firstName" | translate }}</mat-label>
          <input matInput type="text" formControlName="firstName" class="form-control" required/>
          <mat-error *ngIf="signupForm.controls.firstName.touched && signupForm.controls.firstName.invalid">
            <span *ngIf="signupForm.controls.firstName.errors.required">{{ "signup.signupForm.errorMandatory" | translate }}</span>
            <span *ngIf="signupForm.controls.firstName.errors.pattern">{{ "signup.signupForm.errorInvalid" | translate }}</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>{{ "signup.signupForm.email" | translate }}</mat-label>
          <input matInput type="text" formControlName="email" class="form-control" required/>
          <mat-error *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
            <span *ngIf="signupForm.controls.email.errors.required">{{ "signup.signupForm.errorMandatory" | translate }}</span>
            <span *ngIf="signupForm.controls.email.errors.pattern">{{ "signup.signupForm.errorInvalid" | translate }}</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>{{ "signup.signupForm.passWord" | translate }}</mat-label>
          <input matInput formControlName="password" type="password" class="form-control" required [type]="password ? 'password': 'text'"/>
          <button type="button" mat-icon-button matSuffix (click)="password = !password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="password">
            <mat-icon>{{ password ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button> 
          <mat-error *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
            <span *ngIf="signupForm.controls.password.errors.required">{{ "signup.signupForm.errorMandatory" | translate }}</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>{{ "signup.signupForm.confirmPassword" | translate }}</mat-label>
          <input matInput formControlName="confirmPassword" type="password" class="form-control" required [type]="confirmPassword ? 'password': 'text'"/>
          <button type="button" mat-icon-button matSuffix (click)="confirmPassword = !confirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="password">
            <mat-icon>{{ confirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button> 
          <mat-error *ngIf="signupForm.controls.confirmPassword.touched && signupForm.controls.confirmPassword.invalid">
            <span *ngIf="signupForm.controls.confirmPassword.errors.required">{{ "signup.signupForm.errorMandatory" | translate }}</span>
          </mat-error>
          <mat-hint *ngIf="validateSubmit() && !(signupForm.controls.confirmPassword.invalid)">
            <span>{{ "signup.signupForm.noConformPassword" | translate }}</span>
          </mat-hint>
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="validateSubmit() || !(signupForm.valid && signupForm.dirty)">
    <mat-icon>save</mat-icon> {{ "signup.signupForm.submit" | translate }}
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon>cancel</mat-icon> {{ "signup.signupForm.close" | translate }}
  </button>
</mat-dialog-actions>