<body>
    <mat-card>
        <b><span>{{ "dashboard.title" | translate }}</span></b>
    </mat-card>
    <b>
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2 class="title">{{ "dashboard.theme" | translate }}</h2>
                        <h2 class="title">{{data?.theme}}</h2>
                        <p><button class="button" [routerLink]="['/aubaytest/theme']">{{ "dashboard.submit" | translate }}</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2 class="title">{{ "dashboard.question" | translate }}</h2>
                        <h2 class="title">{{data?.question}}</h2>
                        <p><button class="button" [routerLink]="['/aubaytest/question']">{{ "dashboard.submit" | translate }}</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2 class="title">{{ "dashboard.qcm" | translate }}</h2>
                        <h2 class="title">{{data?.qcm}}</h2>
                        <p><button class="button" [routerLink]="['/aubaytest/qcm']">{{ "dashboard.submit" | translate }}</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2 class="title">{{ "dashboard.test" | translate }}</h2>
                        <h2 class="title">{{data?.test}}</h2>
                        <p><button class="button" [routerLink]="['/aubaytest/test']">{{ "dashboard.submit" | translate }}</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2 class="title">{{ "dashboard.user" | translate }}</h2>
                        <h2 class="title">{{data?.user}}</h2>
                        <p><button class="button" [routerLink]="['/aubaytest/user']">{{ "dashboard.submit" | translate }}</button></p>
                    </div>
                </div>
            </div>
        </div>
    </b>
</body>