<mat-toolbar color="warn">
    <mat-toolbar-row fxLayout="row">
        <span>Change Language</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <button type="button" mat-flat-button >
        <mat-icon>language</mat-icon>Item 1
    </button>
    <hr>
    <button type="button" mat-flat-button >
        <mat-icon>language</mat-icon>Item 2
    </button>
</mat-dialog-content>