<mat-card>
    <b><span>Manage QCM</span></b>
    <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">
        <mat-icon>add_circle</mat-icon> New QCM
    </button>
</mat-card>
<hr>

<mat-card>
    <mat-form-field appearance="outline" fxFlex>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
</mat-card>
<hr>

<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="title_qcm">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">{{element.title_qcm}}</td>
        </ng-container>

        <ng-container matColumnDef="description_qcm">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">{{element.description_qcm}}</td>
        </ng-container>

        <ng-container matColumnDef="difficulty_qcm">
            <th mat-header-cell *matHeaderCellDef>Difficulty</th>
            <td mat-cell *matCellDef="let element">{{element.difficulty_qcm}}</td>
        </ng-container>

        <ng-container matColumnDef="duration_qcm">
            <th mat-header-cell *matHeaderCellDef>Duration</th>
            <td mat-cell *matCellDef="let element">{{element.duration_qcm}}</td>
        </ng-container>

        <ng-container matColumnDef="num_qcm">
            <th mat-header-cell *matHeaderCellDef>Num QCM</th>
            <td mat-cell *matCellDef="let element">{{element.num_qcm}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="primary" matTooltip="Edit" (click)="handleEditAction(element)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="primary" matTooltip="Delete" (click)="handleDeleteAction(element)">
                    <mat-icon>delete</mat-icon>
                </button>

                <button mat-icon-button color="primary" matTooltip="Add Question" (click)="handleAddQuestionsAction(element)">
                    <mat-icon>add_circle</mat-icon>
                </button>

                <button mat-icon-button color="primary" matTooltip="Show Detail" (click)="handleAddShowDetails(element)">
                    <mat-icon>explore</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row;Columns:displayedColumns;"></tr>
    </table>
</div>