    <div class="banner">
        <div class="navbar">
            <img src="../../assets/images/Aubay_-_Logo.png" class="logo">
            <ul>
                <li><a href="#">Dashboad</a></li>
                <li><a (click)="handleSignupAction()">Signup</a></li>
                <li><a (click)="handleLoginAction()">Login</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>PASSER VOTRE ENTRETIEN<br> TECHNIQUE EN LIGNE</h1>
            <p>Pour vos questions à choix uniques et à choix multiples, vous pouvez insérer des textes, des mots<br> ou des images
                comme choix de réponses. Une fois votre question et vos
                choix rédigés, <br>attribuez un coefficient en cas de bonne
                réponse et décidez si tous les choix corrects sont exigés
                ou non pour valider la réponse.</p>
            <div>
                <button type="button" (click)="handleSignupAction()"><span></span>Signup</button>
                <button type="button" (click)="handleLoginAction()"><span></span>Login</button>
            </div>
        </div>
    </div>
    <div class="footer" id="signup">
        <h2>All right reserved @Guyriche</h2>
    </div>
